@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sticky-header {
  display: flex;
  background-color: rgb(252, 215, 219);
  padding: 10px;
  align-items: center;
  text-align: center;
}

.sticky-header img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
.sticky-header h1 {
  margin: auto;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.location-marker {
  width: auto;
  height: 4vh;
  border-radius: 4px;
  cursor: pointer;
}

.loader {
  text-align: center;
  margin-top: 100px;
}

.loader h2 {
  margin: 10px 0;
}

.loader img {
  object-fit: cover;
  height: 250px;
  border-radius: 20px;
}

.location-info {
  width: 400px;
  min-height: 200px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
}

.location-info .info {
  margin: 0 5px;
}

.location-info img {
  border-radius: 50%;
  height: 100px;
  width: auto;
}
