@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.map {
  width: 80vw;
  height: 80vh;
  position: relative;
}

.location-marker {
  width: 2vw;
  height: 3vh;
}
