@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.map {
  width: 80vw;
  height: 80vh;
  position: relative;
}

.map div {
  border-radius: 20px;
}

.location-marker {
  width: 2vw;
  height: 4vh;
  border-radius: 4px;
}

.loader-img {
  object-fit: cover;
  height: 250px;
  border-radius: 20px;
}